body {
    padding: 1rem;
    background-color: #bfbebd;
}

.carousel-pic {
    height: 80vh;
}

.blue-gradient-right {
    background-image: linear-gradient(
            to bottom right,
            rgb(18, 39, 160),
            rgb(66, 100, 173)
    );
}

.blue-gradient-left {
    background-image: linear-gradient(
            to left,
            rgb(18, 39, 160),
            rgb(66, 100, 173)
    );
}

.main-blue {
    background-color: rgb(18, 39, 160);
}

.grey-color {
    background-color: rgba(252, 251, 251, 0.901);
}

.error-message {
    background-color: rgb(250, 73, 67);
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.success-message {
    background-color: rgb(80, 208, 80);
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.white-box {
    padding: 1rem 3rem 3rem 3rem;
    display: block;
    background-color: white;
}

.form-bars {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.logout-message {
    background-color: rgb(66, 100, 173);
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.blog-update {
    font-style: none;
}
